html
	head
		title= 'News'
	body
		h1= 'News: '
		ul(class='articlesList')
			each article in articles
				li
					a(href= '/articles/' + article.title)= article.title
					span(
						class='deleteArticle'
						data-title=article.title)='   delete'
		span='ID: '
		input(
			type='text'
			id='input')
		button(
			id='button')= 'Add blog'

		div
			span='Enter title of an article you wanna update: '
			input(type='text' class='updateArticleTitle')
		div
			span='Enter new text for this article: '
			input(type='text' class='updateArticleText')
		button(class='updateArticleButton')= 'Update'
			
		script(src='/js.js')