html
	head
		title= 'News'
	body
		h1= 'News: '
		ul(class='articlesList')
			each article in articles
				li
					a(href= '/articles/' + article.id)= article.title
					span(
						class='deleteArticle'
						data-id=article.id)='   delete'
		span='ID: '
		input(
			type='text'
			id='input')
		button(
			id='button')= 'Add blog'
		script(src='/js.js')